@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(95% 0 0);
    --secondary-background: oklch(100% 0 0);
    --foreground: oklch(0% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(80% 0 0);
    --border: oklch(0% 0 0);
    --ring: oklch(0% 0 0);
    --overlay: oklch(0% 0 0 / 0.8);
    --shadow: 2px 2px 0px 0px var(--border);
    --chart-1: #6b7280;
    --chart-2: #9ca3af;
    --chart-3: #d1d5db;
    --chart-4: #374151;
    --chart-5: #111827;
    --chart-active-dot: #000;
}

.dark {
    --background: oklch(22% 0 0);
    --secondary-background: oklch(25% 0 0);
    --foreground: oklch(92% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(55% 0 0);
    --border: oklch(0% 0 0);
    --ring: oklch(100% 0 0);
    --shadow: 2px 2px 0px 0px var(--border);
    --chart-1: #6b7280;
    --chart-2: #9ca3af;
    --chart-3: #d1d5db;
    --chart-4: #374151;
    --chart-5: #111827;
    --chart-active-dot: #fff;
}

@theme inline {
    --color-main: var(--main);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-foreground: var(--foreground);
    --color-main-foreground: var(--main-foreground);
    --color-border: var(--border);
    --color-overlay: var(--overlay);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --spacing-boxShadowX: 2px;
    --spacing-boxShadowY: 2px;
    --spacing-reverseBoxShadowX: -2px;
    --spacing-reverseBoxShadowY: -2px;
    --radius-base: 15px;
    --shadow-shadow: var(--shadow);
    --font-weight-base: 500;
    --font-weight-heading: 700;
    --font-family-base: "Archivo", sans-serif;
    --tracking-tightest: -0.1em;
}

@layer base {
    body {
        @apply text-foreground font-base;
        font-family: var(--font-family-base);
        background-image:
            linear-gradient(oklch(0% 0 0 / 0.15) 1px, transparent 1px),
            linear-gradient(90deg, oklch(0% 0 0 / 0.15) 1px, transparent 1px),
            linear-gradient(135deg, #dbeafe 0%, #f3e8ff 100%);
        background-size:
            40px 40px,
            40px 40px,
            100% 100%;
        background-color: #1c1917;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}
